/* -- colors
----------------------------- */
.color-gray {
    color:#777;
}
.color-gray-dark {
    color:#555 !important;
}
.color-gray-light {
    color:#999 !important;
}
.color-white {
    color:#FFF !important;
}
.color-black {
    color:#000 !important;
}
.color-green {
    color:#90af45 !important;
}
.color-red {
    color:#ef6465 !important;
}
.color-blue {
    color:#1c7ab4 !important;
}
.color-orange {
    color:#f48a30 !important;
}
.color-yellow {
    color:#f3c835 !important;
}